.topnav-right {
    float: right;
    color: #ddd;
    font-weight: 100;
    
  }
.row{
    float: left;
    margin-bottom: 25px;
    margin-left: 30px;
    width: 58%;
    overflow: auto;
    clear: both;
    list-style-type: square;
    padding: 10;
    border: 1px #ddd solid;
  }
h2{
    margin-left: 30px;
}
img{
    margin-left: 30px;
}
.option-section-trailerLength{
    float: right;
    columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
    width: 28%;
    height: 450px;
    margin-right: 70px;
    margin-bottom: 25px;
    list-style-type: square;
    padding: 10;
    border: 1px #ddd solid
}
.option-section-coupler{
    float: right;
    width: 34%;
    margin-right: 70px;
    margin-bottom: 25px;
    list-style-type: square;
    padding: 10;
    border: 1px #ddd solid

}
.option-section-tail{
    float: right;
    width: 34%;
    margin-right: 70px;
    margin-bottom: 25px;
    list-style-type: square;
    padding: 10;
    border: 1px #ddd solid

}
.option-section-axle{
    float: left;
    margin-bottom: 25px;
    margin-left: 30px;
    width: 58%;
    list-style-type: square;
    padding: 10;
    border: 1px #ddd solid;
}
.option-section-color{
    float: right;
    width: 34%;
    margin-right: 70px;
    margin-bottom: 25px;
    list-style-type: square;
    padding: 10;
    border: 1px #ddd solid

}
.option-section-other{
    float: left;
    margin-bottom: 25px;
    margin-left: 30px;
    width: 58%;
    list-style-type: square;
    padding: 10;
    border: 1px #ddd solid;
}
.quoteTotal{
    float: right;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 28%;
    background-color: white;
    margin-right: 70px;
    margin-bottom: 25px;
    list-style-type: square;
    padding: 10;
    border: 1px #ddd solid

}
.Notes{
    float: right;
    margin-right: 70px;
    margin-bottom: 45px;
    width: 34%;
}
.button {
    float: right;
    margin-right: 352px;
    margin-bottom: 25px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }